.dashboard-boxes{
    width: 100%;
    height: 100px;
    background-color: #fff;
    padding: 10px;
    color: #000;
    border: 5px double #fe7107;
    border-radius: 5px;
}

.text-b-Jibmib{
    color: #2e3192;
}

.dark-red{
    color: darkred;
}

.delete-attribute{
    display: inline;
}

.red{
    color: darkred !important;
}

.mg-right-10{
    margin-right: 10px;
}

